@model needHelp.Models.IndexViewModel
@{
    ViewBag.Title = "ניהול";
}


<div dir="rtl">
    <h2>@ViewBag.Title.</h2>
    <h4>שינוי פרטי משתמש</h4>
    <hr />
    <div class="dl-horizontal">
        <div>סיסמה:
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("שנה סיסמה", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("צור סיסמה", "SetPassword")
            }
            ]
        </div>
        <div>כניסות חיצוניות:
            @Model.Logins.Count [
            @Html.ActionLink("נהל כניסות", "ManageLogins") ]
        </div>
       
    </div>
</div>
