@model needHelp.Models.VolunteerModels

@{
    ViewBag.Title = "Edit";
}

<div dir="rtl">
@if (User.IsInRole(roleType.admin.ToString()) || (User.IsInRole(roleType.volunteer.ToString()) && User.Identity.Name.Equals(Model.email)))
{
    <h1>עריכת פרטים אישיים:</h1>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    
        <div dir="rtl" class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)

            <div class="form-group">
                @Html.Label("שם פרטי:", "שם פרטי:", new { style = "width:150px; height:30px; display:inline-block; " })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("שם משפחה:", "שם משפחה:", new { style = "width:150px; height:30px; display:inline-block; " })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("דואר אלקטרוני:", "דואר אלקטרוני:", new { style = "width:150px; height:30px; display:inline-block; " })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("טלפון:", "טלפון:", new { style = "width:150px; height:30px; display:inline-block; " })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group"> 
                <div >
                    <input type="submit" value="שמור" class="btn btn-default" />
                </div>
            </div>
    </div>
    }
}
else
{
    <br /><br />
    <p><h3>אין ברשותך הרשאות מתאימות לצפייה בעמוד זה</h3></p>
}

    <div dir="ltr">
        @Html.ActionLink("חזרה", "Index")
    </div>
</div>
