@model needHelp.Models.VolunteerModels

@{
    ViewBag.Title = "User Profile";
}

<div dir="rtl">
    <p>שלום @Html.DisplayFor(modelItem => item.firstName) @Html.DisplayFor(modelItem => item.lastName)</p>

    <div>
        <p>פרטים אישיים:</p>
        <p>שם פרטי: @Html.DisplayFor(modelItem => Model.org.name)</p>
        <p>שם משפחה: @Html.DisplayFor(modelItem => Model.city.name) - @Html.DisplayFor(modelItem => Model.address)</p>
        <p>דואר אלקטרוני: @Html.DisplayFor(modelItem => Model.date)</p>
        <p>טלפון: @Html.DisplayFor(modelItem => Model.type.typeName)</p>

        @Html.ActionLink("עריכה", "Edit")
    </div>
    <br />

    <div dir="rtl" class="row">
        <p>הפעילויות אליהן את/ה רשום/ה:</p>
        @foreach (var item in Model.registered_activities)
        {
            <div class="col-xs-6 col-lg-4 pull-right" style="border:solid; border-radius:10px; margin:10px; width:30%">
                <p>
                    @if (!item.type.imagePath.IsEmpty())
                    {
                        <img class="img-circle" style="width:60px; height:60px; margin:2px" src="~/Images/Types/@Html.DisplayFor(modelItem => item.type.imagePath)" />
                    }
                    <label style="font-size:30px">@Html.DisplayFor(modelItem => item.name)</label>
                </p>
                <p>מארגן: @Html.DisplayFor(modelItem => item.org.name)</p>
                <p>מיקום: @Html.DisplayFor(modelItem => item.city.name) @Html.DisplayFor(modelItem => item.address)</p>
                <p>תאריך: @Html.DisplayFor(modelItem => item.date)</p>
            </div>
        }
    </div>
    <div dir="rtl" class="row">
        <p>פעילויות מומלצות:</p>
        @foreach (var item in sugestedActivities)
        {
            <div class="col-xs-6 col-lg-4 pull-right" style="border:solid; border-radius:10px; margin:10px; width:30%">
                <p>
                    @if (!item.type.imagePath.IsEmpty())
                    {
                        <img class="img-circle" style="width:60px; height:60px; margin:2px" src="~/Images/Types/@Html.DisplayFor(modelItem => item.type.imagePath)" />
                    }
                    <label style="font-size:30px">@Html.DisplayFor(modelItem => item.name)</label>
                </p>
                <p>מארגן: @Html.DisplayFor(modelItem => item.org.name)</p>
                <p>מיקום: @Html.DisplayFor(modelItem => item.city.name) @Html.DisplayFor(modelItem => item.address)</p>
                <p>תאריך: @Html.DisplayFor(modelItem => item.date)</p>
                <p>@Html.ActionLink("פרטים", "Details", new { id = item.id })</p>
            </div>
        }
    </div>
</div>
