@model needHelp.Models.HelpTypeModels

@{
    ViewBag.Title = "עריכת סוג התנדבות";
}

<div dir="rtl">
    @if (User.IsInRole(roleType.admin.ToString()))
    {
        <h2>עריכת סוגי פעילויות</h2>

        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>HelpTypeModels</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id)

                <div class="form-group">
                    @Html.LabelFor(model => model.typeName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.typeName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.typeName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.imagePath, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.imagePath, new { htmlAttributes = new { @type = "file" } })
                        @Html.ValidationMessageFor(model => model.imagePath, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <br /><br />
        <p><h3>אין ברשותך הרשאות מתאימות לצפייה בעמוד זה</h3></p>
    }

    <div>
        @Html.ActionLink("חזרה", "Index")
    </div>
</div>