@model needHelp.Models.ActivityModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ActivityModels</h4>
    <hr />
    <dl dir="rtl" class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.city.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.organizationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.organizationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("עריכה", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
