@model needHelp.Models.ActivityModels

@{
    ViewBag.Title = "Delete";
}

<div dir="rtl">

    @if (User.IsInRole("admin") || (User.IsInRole("organization") && User.Identity.Name.Equals(Model.org.email)))
    {
        <h2>מחיקת פעילות</h2>

        <h3>האם אתה בטוח כי ברצונך למחוק פעילות זו?</h3>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.city.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.city.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.organizationId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.organizationId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>

        </dl>

        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="מחק" class="btn btn-default" /> |
                @Html.ActionLink("חזרה לרשימה", "Index")
            </div>
        }
    }
    else
    {
        <br /><br />
        <p><h3>אין ברשותך הרשאות מתאימות לצפייה בעמוד זה</h3></p>
    }
</div>
