@model needHelp.Models.ActivityModels

@{
    ViewBag.Title = "מחיקת פעילות";
}
<style type="text/css">
    a.nounderline {
        text-decoration: none;
    }

    span.hovercolor {
        font-size: 20px;
        cursor: pointer;
        color: #cc3300;
    }
</style>
<div dir="rtl">

    @if (User.IsInRole(roleType.admin.ToString()) || (User.IsInRole(roleType.organization.ToString()) && User.Identity.Name.Equals(Model.org.email)))
    {
        <h2>מחיקת פעילות</h2>

        <h3>האם אתה בטוח כי ברצונך למחוק פעילות זו?</h3>

    <div dir="rtl" class="dl-horizontal">
        <div>
            @Html.Label("עיר:", "עיר:", new { style = "width:100px; height:30px; display:inline-block; " })
            @Html.DisplayFor(model => model.city.name)
        </div>

        <div>
            @Html.Label("שם פעילות:", "שם פעילות:", new { style = "width:100px; height:30px; display:inline-block; " })
            @Html.DisplayFor(model => model.name)
        </div>

        <div>
            @Html.Label("ארגון:", "ארגון:", new { style = "width:100px; height:30px; display:inline-block; " })
            @Html.DisplayFor(model => model.org.name)
        </div>

        <div>
            @Html.Label("כתובת:", "כתובת:", new { style = "width:100px; height:30px; display:inline-block; " })
            @Html.DisplayFor(model => model.address)
        </div>

        <div>
            @Html.Label("תאריך:", "תאריך:", new { style = "width:100px; height:30px; display:inline-block; " })
            @Html.DisplayFor(model => model.date)
        </div>

        <div>
            @Html.Label("תיאור:", "תיאור:", new { style = "width:100px; height:30px; display:inline-block; " })
            @Html.DisplayFor(model => model.description)
        </div>

    </div>

        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="מחק" class="btn btn-default" /> 
                @if (User.IsInRole(roleType.organization.ToString()))
                {
                    <a class="nounderline" href="@Url.Action("Index", "ActivityManagement")"><span class="hovercolor">חזרה</span></a>
                }
                else
                {
                    <a class="nounderline" href="@Url.Action("Index", "ActivityModels")"><span class="hovercolor">חזרה</span></a>
                }
            </div>
        }
    }
    else
    {
        <br /><br />
        <p><h3>אין ברשותך הרשאות מתאימות לצפייה בעמוד זה</h3></p>
        
        if (User.IsInRole(roleType.organization.ToString()))
        {
                <a class="nounderline" href="@Url.Action("Index", "ActivityManagement")"><span class="hovercolor">חזרה</span></a>
        }
        else
        {
                <a class="nounderline" href="@Url.Action("Index", "ActivityModels")"><span class="hovercolor">חזרה</span></a>
        }
    }
</div>
