@model needHelp.Models.ActivityModels

@{
    ViewBag.Title = "פרטי פעילות";
}
<div dir="rtl">
    <br />

    <div >
        <p>
            @if (!Model.type.imagePath.IsEmpty())
            {
                <img class="img-circle" style="width:60px; height:60px; margin:2px" src="~/Images/Types/@Html.DisplayFor(modelItem => Model.type.imagePath)" />
            }
            <label style="font-size:30px">@Html.DisplayFor(modelItem => Model.name)</label>
        </p>
        <p>מארגן: @Html.DisplayFor(modelItem => Model.org.name)</p>
        <p>מיקום: @Html.DisplayFor(modelItem => Model.city.name) - @Html.DisplayFor(modelItem => Model.address)</p>
        <p>תאריך: @Html.DisplayFor(modelItem => Model.date)</p>
        <p>סוג פעילות: @Html.DisplayFor(modelItem => Model.type.typeName)</p>
        <p>תיאור הפעילות: @Html.DisplayFor(model => Model.description)</p>
        <br/>
        <p dir="rtl">
            @if (User.IsInRole(roleType.volunteer.ToString())) {
                @Html.ActionLink("הרשמה לפעילות", "SignInActivity", new { id = Model.id })
            }
            else if (User.IsInRole(roleType.admin.ToString()) || (User.IsInRole(roleType.organization.ToString()) && User.Identity.Name.Equals(Model.org.email)))
            {
                @Html.ActionLink("עריכה", "Edit", new { id = Model.id })<text> | </text>
                @Html.ActionLink("מחיקה", "Delete", new { id = Model.id }) 
            }
        </p>
    </div>
</div>
