@model needHelp.Models.ActivityModels

@{
    ViewBag.Title = "הרשמה לפעילות";
}
<div dir="rtl">

    <h1>פרטי פעילות</h1>

    <div>


        @ViewBag.volunteer

        @*<script>
            window.alert("קיימת חפיפת זמנים בין שתי פעילויות שנרשמת אליהן");
        </script>*@
        
        <p>
            @if (!Model.type.imagePath.IsEmpty())
            {
                <img class="img-circle" style="width:60px; height:60px; margin:2px" src="~/Images/Types/@Html.DisplayFor(modelItem => Model.type.imagePath)" />
            }
            <label style="font-size:30px">@Html.DisplayFor(modelItem => Model.name)</label>
        </p>
        <p>מארגן: @Html.DisplayFor(modelItem => Model.org.name)</p>
        <p>מיקום: @Html.DisplayFor(modelItem => Model.city.name) - @Html.DisplayFor(modelItem => Model.address)</p>
        <p>תאריך: @Html.DisplayFor(modelItem => Model.date)</p>
        <p>סוג פעילות: @Html.DisplayFor(modelItem => Model.type.typeName)</p>
        <p>תיאור הפעילות: @Html.DisplayFor(model => Model.description)</p>

        </div>
    </div>


