@model needHelp.Models.OrganizationModels

@{
    ViewBag.Title = "פרופיל ארגון";
}
<div dir="rtl">
    <h1>שלום @Html.DisplayFor(modelItem => Model.name)</h1>

    <div>
        <h3>פרטי הארגון:</h3>
        <p>שם: @Html.DisplayFor(modelItem => Model.name)</p>
        <p>איש קשר:  @Html.DisplayFor(modelItem => Model.contactName)</p>
        <p>טלפון: @Html.DisplayFor(modelItem => Model.contactPhone)</p>
        <p>דואר אלקטרוני: @Html.DisplayFor(modelItem => Model.email)</p>
        <p>אתר: @Html.DisplayFor(modelItem => Model.website)</p>

        @Html.ActionLink("עריכה", "Edit", new { id = Model.id })
    </div>

    <div dir="rtl" class="row">
        <h3>הפעילויות אשר ארגונך מציע:</h3>
        @foreach (var activity in Model.org_activities)
        {
            <div class="col-xs-6 col-lg-4 pull-right" style="border: solid; border-radius: 10px; margin: 10px; width: 30%;background: rgba(255, 255, 102, 0.7);">
                <p>
                    @if (activity.type.imagePath != String.Empty)
                    {
                        <img class="img-circle" style="width: 60px; height: 60px; margin: 2px" src="~/Images/Types/@activity.type.imagePath" />
                    }
                    <label style="font-size:30px; cursor:pointer; color: #cc3300;" onclick="showDetailsDialog(this)" id="linkto_@activity.id">@activity.name</label>
                </p>
                @*<p>מארגן: @activity.org.name</p>*@
                <p>מיקום: @activity.city.name @activity.address</p>
                <p>תאריך: @activity.date</p>
            </div>
        }
        @if (Model.org_activities.Count == 0)
        {
            <p>ארגונך אינו מציע פעילויות</p>
        }
    </div>
</div>

<div id="myDialogContent" dir="rtl" title="פרטי פעילות"></div>

<script type="text/JavaScript">

    $(document).ready(function () {
        $("#myDialogContent").dialog({
            autoOpen: false,
            height: 'auto',
            width: 500,
            modal: true,

            open: function () {
                var link_id = $("#myDialogContent").data('param_1');
                var only_id = link_id.replace("linkto_", "");
                var txt_to_load = "@Url.Action("Details","ActivityModels",new { id="JS_CRAP",partial=1 })";
                txt_to_load = txt_to_load.replace("JS_CRAP", only_id)
                jQuery(this).load(txt_to_load);
            },
            buttons: {
                סגור: function () {
                    jQuery(this).dialog("close");
                }
            }
        });
    });

    function showDetailsDialog(obj) {
        jQuery('#myDialogContent').data('param_1', obj.id).dialog('open');
    }
</script>
