@model IEnumerable<needHelp.Models.UserSearchDataModels>

@{
    ViewBag.Title = "נתוני חיפוש מתנדבים";
}

<div dir="rtl">
    <h2>רשימת פרופילי חיפוש:</h2>

    <table class="table">
        <tr dir="rtl">
            <td>
                שם מתנדב
                @*@Html.DisplayNameFor(model => model.VolunteerId)*@
            </td>
            <td>
                @Html.DisplayNameFor(model => model.cityId)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.searchDate)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.startDate)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.endDate)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.organizationId)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.typeId)
            </td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.volunteer.firstName) @Html.DisplayFor(modelItem => item.volunteer.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.city.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.searchDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.startDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.endDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.org.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type.typeName)
                </td>
            </tr>
        }

    </table>
</div>