@using needHelp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div dir="rtl">
    <h2>מסך התחברות</h2>
    <div class="row">
        <div class="col-md-8 pull-right">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>הכנס פרטי משתמש</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        @Html.Label("דואר אלקטרוני", "דואר אלקטרוני", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="form-group">
                        
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        @Html.Label("סיסמה", "סיסמה", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-2 pull-right">
                            <div class="checkbox">
                                @Html.Label("זכור אותי")
                                @Html.CheckBoxFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="התחבר" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("הרשם כמשתמש חדש", "Register")
                    </p>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                }
            </section>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}