@model needHelp.Models.OrganizationModels

@{
    ViewBag.Title = "פרטי אירגון";
}
<div dir="rtl">

    @*<div>
        <hr />
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.userId)
            </dt>

            <dd>@Html.DisplayFor(model => model.userId)
            </dd>

            <dt>@Html.DisplayNameFor(model => model.name)
            </dt>

            <dd>@Html.DisplayFor(model => model.name)
            </dd>

            <dt>@Html.DisplayNameFor(model => model.contactName)
            </dt>

            <dd>@Html.DisplayFor(model => model.contactName)
            </dd>

            <dt>@Html.DisplayNameFor(model => model.contactPhone)
            </dt>

            <dd>@Html.DisplayFor(model => model.contactPhone)
            </dd>

            <dt>@Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>@Html.DisplayFor(model => model.email)
            </dd>

            <dt>@Html.DisplayNameFor(model => model.website)
            </dt>

            <dd>@Html.DisplayFor(model => model.website)
            </dd>

        </dl>
    </div>*@

    <div >
        <label style="font-size:30px">@Html.DisplayFor(model => Model.name)</label>
        <p>איש קשר: @Html.DisplayFor(model => Model.contactName)</p>
        <p>טלפון: @Html.DisplayFor(model => Model.contactPhone)</p>
        <p>דואר אלקטרוני: @Html.DisplayFor(model => Model.email)</p>
            <p>
                    אתר אינטרנט:
                <a href="//@Model.website" target="_blank">
                    @{
                        int pathLen = Model.website.IndexOf("/");
                        pathLen = pathLen > 0 ? pathLen : Model.website.Length;
                        string path = Model.website.Substring(0, pathLen);
                        @Html.DisplayFor(model => path);
                    }
                </a>
            </p>
        
            <p dir="rtl">
                @if (User.IsInRole(roleType.admin.ToString()))
                {
                    @Html.ActionLink("עריכה", "Edit", new { id = Model.id }) <text> | </text>
                    @Html.ActionLink("מחיקה", "Delete", new { id = Model.id })
                }
                else if (User.IsInRole(roleType.organization.ToString()) && User.Identity.Name.Equals(Model.email))
                {
                    @Html.ActionLink("עריכה", "Edit", new { id = Model.id })
                }
            </p>
</div>

    @*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
    </p>*@
</div>
