<div dir="rtl">
@model IEnumerable<needHelp.Models.OrganizationModels>

@{
    ViewBag.Title = "אירגונים";
}


<h2>ארגוני התנדבות</h2>

<p>
    @Html.ActionLink("צור ארגון", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contactPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.website)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contactPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.website)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>*@

<div class="container marketing">

    <div dir="rtl" class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-xs-6 col-lg-4 pull-right" style="border:solid; border-radius:10px; margin:10px; width:30%">
                            
                            <label style="font-size:30px; cursor:pointer; color: orange;" onclick="showDetailsDialog(this)" id="linkto_@item.id">@Html.DisplayFor(modelItem => item.name)</label>
                            @*<p>איש קשר: @Html.DisplayFor(modelItem => item.contactName)</p>*@
                            @*<p>טלפון: @Html.DisplayFor(modelItem => item.contactPhone)</p>*@
                            <p>דואר אלקטרוני: @Html.DisplayFor(modelItem => item.email)</p>
                            <p>אתר אינטרנט: @Html.DisplayFor(modelItem => item.website)</p>
                        </div>
        }

    </div>

</div>

</div>

<div id="myDialogContent" dir="rtl" title="פרטי ארגון"></div>

<script type="text/JavaScript">

    $(document).ready(function () {
        $("#myDialogContent").dialog({
            autoOpen: false,
            height: 'auto',
            width: 500,
            modal: true,

            open: function () {
                var link_id = $("#myDialogContent").data('param_1');
                var only_id = link_id.replace("linkto_", "");
                var txt_to_load = "@Url.Action("Details","OrganizationModels",new { id="JS_CRAP",partial=1 })";
                txt_to_load = txt_to_load.replace("JS_CRAP", only_id)
                jQuery(this).load(txt_to_load);
            },
            buttons: {
                סגור: function () {
                    jQuery(this).dialog("close");
                }
            }
        });
    });

    function showDetailsDialog(obj) {
        jQuery('#myDialogContent').data('param_1', obj.id).dialog('open');
    }
</script>
